*, *::before, *::after {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
  }
  
  :root {
    --primary: #fff ;
    --secondary: rgb(0, 0, 0) ; 
    --tertiary: rgb(7, 13, 102);
    --purple: rgb(177, 87, 189);
    font-size: 62.5%;
  }

  
body {
    background-color:var(--primary);
    color: var(--secondary);
  }

/* header style end */
  header {
    background-color: var(--primary);
    color: var(--secondary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 3px 3px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  header a {
      color: var(--purple);
      text-decoration: none;
  }

  header p {
      color: var(--tertiary);
      font-weight: bold;
      font-size: 1.5rem;
  }
  /* header style end*/

  /* content style */

  .page-title {
    color: var(--secondary);
    margin-bottom: 5px;
    margin-top: 80px;
    font-size: 4.5rem;
    text-align: center;
  }

  .instruction {
      color: var(--secondary);
      text-align: center;
      font-size: 2rem;
      margin-bottom: 30px;
      margin-top: 35px;
      display: flex;
      justify-content: center;
    }

  .container {
    width: 800px;
    max-width: 1000%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .btn {
    color: var(--primary);
    outline: none;
    border: none;
    padding: 10px 15px;
    background: var(--tertiary);
    font-size: 2.2rem;
    border-radius: 12px;
    top: -3px;
 }

 .container {
   width: 800px;
   max-width: 80%;
 }

 .answer-btn {
   display: grid;
   margin-top: 50px;
   gap: 10px;
   width: 20rem;
   justify-content: center;
   margin-left: 15%;
 }

 .hide {
   display: none;
 }

 .btn:hover {
     background-color: var(--purple);
     cursor: pointer;
 }

 .btn:active {
    box-shadow: var(--purple);
  }

 .button-start {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  }

  form input {
    outline: none;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 2.2rem;
    border: 2px solid var(--grey);
    border-radius: 12px;
  }

  footer {
    width: 90%;
    background: var(--primary);
    color: var(rgb(167, 167, 167));
    font-size: 2.4rem;
    padding: 20px;
    border-top: 0.5px solid var(--purple);
  }
  
  /* content style end */

  /* media queries */
  @media screen and (max-width: 980px) {
    .page-title {
        flex: 1 80%;
        text-align: center;
    }
  
    main {
      width: 100%;
      flex-basis: 100%;
    }
  
 }